# Solutions

In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import neighbors

In [2]:
df = pd.read_csv("amazonprime.csv")
df

     churn  age  spend  streamTV  streammovie  monthlyorders
0        1   38  13.48         9            6              4
1        0   27   9.05        26           15              6
2        1   52   3.49        13            4              9
3        0   45  14.25        12            6              8
4        0   32   3.85        27            7              8
..     ...  ...    ...       ...          ...            ...
195      0   50  12.63        21           13              3
196      0   29   3.46        17           26              7
197      0   36   7.33        27           19              6
198      1   38  11.65         3           15              2
199      0   49   5.38        30           22              5

[200 rows x 6 columns]

In [5]:
# Independent variables
X = df.drop("churn", axis=1)

# Dependent variable 
y = df["churn"]

# Allocates 80% of the data for training and 20% for testing
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [13]:
# Chooses the K nearest neighbour algorithm for our classifier

clf = neighbors.KNeighborsClassifier(n_neighbors=3)

# Training the classifier
clf_trained = clf.fit(X_train,y_train)

# Scoring the classifier
clf_trained.score(X_test,y_test)

0.85

In [12]:
# Chooses the K nearest neighbour algorithm for our classifier

clf = neighbors.KNeighborsClassifier(n_neighbors=5)

# Training the classifier
clf_trained = clf.fit(X_train,y_train)

# Scoring the classifier
clf_trained.score(X_test,y_test)

0.825

In [15]:
# Defining an unclassified point 
test_point = np.array([[20,5,3,5,2]])

# Making a prediction
clf_trained.predict(test_point)

array([1])

churn is 1 so we predicted that the customer will stop using Prime.

In [18]:

# Predicting values
y_pred = clf.predict(X_test)

In [24]:
# Comparing predicted against actual values
df2 = pd.DataFrame({"Predicted": y_pred, "Actual": y_test})
df2

     Predicted  Actual
31           0       0
62           0       0
106          0       0
187          1       0
58           0       0
37           0       0
156          0       0
130          0       0
100          1       1
64           0       0
170          1       1
11           0       0
26           1       1
69           0       0
75           1       1
97           0       0
55           0       0
84           0       0
103          0       0
86           1       1
109          0       0
63           0       0
120          0       0
44           0       0
10           0       0
6            1       1
15           1       0
96           1       1
163          0       0
91           0       0
61           0       0
185          0       0
138          0       1
177          1       0
108          1       1
92           0       0
155          0       1
167          0       1
101          1       1
128          0       0